<head>
<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=japanese" rel="stylesheet">
</head>

<body class="emojitachi">
  <%= link_to "　", :back , class: "reedit" %>
  <div class="editsiro">
    <div class="edit-bee">
    ハチさんの顔を押すとホームに戻れるよ！
    </div>
    <div class="edit-tanpopo">
    タンポポのタネを押すと『ちしりょう』を作れるよ！
    </div>
    <div class="edit-edit">
    作った人に『けいい』<br>をはらって作りなおしてね！
    </div>
    <div class="edit-ok">
    作りなおしたら落とし穴を押してね！
    </div>
  </div>
  <div clas="moji">
    <div class="moji__tsu"></div>
    <div class="moji__ku"></div>
    <div class="moji__ri"></div>
    <div class="moji__na"></div>
    <div class="moji__o"></div>
    <div class="moji__so"></div>
    <div class="moji__u"></div>
  </div>

  <div class="ctt_title">
  </div>

  <%= form_with model: @food, class: :eform, local: true do |form| %>
    <div class="eform__name-icon"></div>
    <div class="eform__unit-icon"></div>
    <div class="eform__death-icon"></div>
    <div class="eform__description-icon"></div>
    <div class="eform__btn-icon"></div>
  <% end %>
  <div class="sougen">
    <footer class="sougen__ber"></footer>
  </div>
</body>

