<body class="emojitachi">
  <%= link_to "もももい", :back , class: "reedit" %>
  <div class="editsiro"></div>
  <div clas="moji">
    <div class="moji__tsu"></div>
    <div class="moji__ku"></div>
    <div class="moji__ri"></div>
    <div class="moji__na"></div>
    <div class="moji__o"></div>
    <div class="moji__so"></div>
    <div class="moji__u"></div>
  </div>

  <div class="ctt_title">
  </div>

  <%= form_with model: @food, class: :eform, local: true do |form| %>
    <div class="eform__name-icon"></div>
    <div class="eform__unit-icon"></div>
    <div class="eform__death-icon"></div>
    <div class="eform__description-icon"></div>
    <div class="eform__btn-icon"></div>
  <% end %>
  <div class="sougen">
    <footer class="sougen__ber"></footer>
  </div>
</body>
