
// 下記は固定部分ヘッダーの記述
body {
  .header {
    &__title {
      text-decoration: none;
      position: fixed;
      top: 45px;
      left: 45px;
      font-size: 27px;
    }
    
    &__home {
      z-index: 1;
      width: 100px;
      height: 100px;
      background-size: 100px;
      background-image: url("bug_mitsubachi");
      position: fixed;
      top: 5px;
      left: 35px;
    }

    &__create {
      z-index: 1;
      width: 100px;
      height: 120px;
      background-size: 110px;
      background-image: url("flower_tanpopo_watage_solo.png");
      position: fixed;
      top: 5px;
      right: 2px;
    }
    
    &__edit {
      text-decoration: none;
      position: fixed;
      top: 96px;
      right: 56px;
      font-size: 20px;
    }

    &__torisetsu {
      background-image: url("setsumeisyo.png");
      z-index: 1;
      width: 80px;
      height: 85px;
      background-size: 80px;
      position: fixed;
      top: 85px;
      left: 25px;
    }
  }
}

// 下記はindex（ホーム画面）の記述
.indexbody {
  background-image: url(pattern_shibafu.png);
  .indexprofile {
    position: fixed;
    width: 50px;
    height: 75px;
    top: 90px;
    left: 30px;
    z-index: 1;
    text-decoration: none;
  }
  .reindex{
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    text-decoration: none;
  }
  .indexsiro {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: white;
    height: 200vh;
    width: 100%;
    opacity: 0.65;
    .new-bee {
      position: fixed;
      width: 25%;
      top: 30px;
      left: 60px;
    }
    .new-tanpopo {
      position: fixed;
      width: 30%;
      top: 100px;
      right: 10px;
    }
    .index-kanban {
      font-size: 50px;
      position: fixed;
      width: 100vw;
      text-align: center;
      top: 45%;
    }
    .index-setsu {
      position: fixed;
      bottom: 20%;
      right: 5%;
    }
  }
  .foods {
    background-image: url(wood_kanban.png);
    background-size: 200px;
    height: 210px;
    width: 200px;
    position: relative;
    top: 150px;
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    padding: 60px 20px;
    &__list{
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-family: 'Kosugi Maru', sans-serif;

    }
  }
}

// 下記はnew(記事作成ページ)の記載
.mojitachi {
  background-image: url(bg_pattern1_aozora.png);
  margin: 0;
  padding: 0;
  .moji {
    &__tsu {
      position: fixed;
      top: 150px;
      left: 5%;
      background-image: url(hiragana_33_tsu.png);
      height: 100px;
      width: 100px;
    }
    &__ku {
      position: fixed;
      top: 60px;
      left: 17%;
      background-image: url(hiragana_13_ku.png);
      height: 100px;
      width: 100px;
    }
    &__kotsu {
      position: fixed;
      top: 120px;
      left: 31%;
      background-image: url(hiragana_87_tsu_small.png);
      height: 60px;
      width: 60px;
    }
    &__te {
      position: fixed;
      top: 30px;
      left: 41%;
      background-image: url(hiragana_34_te.png);
      height: 100px;
      width: 100px;
    }
    &__mi {
      position: fixed;
      top: 120px;
      right: 31%;
      background-image: url(hiragana_62_mi.png);
      height: 100px;
      width: 100px;
    }
    &__yo {
      position: fixed;
      top: 90px;
      right: 17%;
      background-image: url(hiragana_68_yo.png);
      height: 100px;
      width: 100px;
    }
    &__u {
      position: fixed;
      top: 150px;
      right: 5%;
      background-image: url(hiragana_03_u.png);
      height: 100px;
      width: 100px;
    }
  }

// 下記は説明画面の記載
  .retorisetsu {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 200vh;
    text-decoration: none;
    opacity: o;
  }

  .newsiro {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: white;
    height: 200vh;
    width: 100%;
    opacity: 0.65;
  }
  .new-bee {
    position: fixed;
    width: 25%;
    top: 30px;
    left: 60px;
  }
  .new-tanpopo {
    position: fixed;
    width: 30%;
    top: 100px;
    right: 10px;
  }
  .new-ki {
    position: fixed;
    width: 30%;
    bottom: 300px;
    left: 7%;
  }
  .new-kuma {
    position: fixed;
    width: 30%;
    bottom: 320px;
    left: 38%;
  }
  .new-hamu {
    position: fixed;
    width: 30%;
    bottom: 180px;
    right: 5%;
  }
  .new-kusa {
    font-size: 35;
    position: fixed;
    bottom: 70px;
    left: 40px;
  }
  .new-mizu {
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 35px;
  }

// 上記は説明画面の記載

.torisetsu {
  z-index: 1;
  text-decoration: none;
  position: fixed;
  top: 95px;
  left: 40px;
  height: 65px;
  width: 50px;
  }

  .form {
    margin-top: 300px;
    font-size: 40px;
    &__name-icon {
      z-index: -3;
      background-image: url(wood_kirikabu.png);
      height: 300px;
      width: 400px;
      position: fixed;
      bottom: 150px;
      left: 2%;
    }
    &__name {
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      background-color: transparent;
      height: 80px;
      width: 220px;
      position: fixed;
      bottom: 330px;
      left: 7%;
      border-radius: 30px;
      border: 0;
      outline: none;
    }
    
    &__death-icon {
      z-index: -2;
      background-image: url(animal_bear_higuma.png);
      background-size: 350px;
      height: 350px;
      width: 350px;
      position: fixed;
      left: 37%;
      bottom: 150px;
    }
    &__death {
      background-color: transparent;
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 200px;
      width: 300px;
      position: fixed;
      left: 38%;
      bottom: 260px;
      border-radius: 90px;
      border: 0;
      outline: none;
    }
      
    &__unit-icon {
      z-index: -1;
      background-image: url(hamster_perl_white.png);
      background-size: 200px;
      height: 250px;
      width: 200px;
      position: fixed;
      left: 68%;
      bottom: 150px;
    }
    &__unit {
      background-color: transparent;
      color: #DDDDDD;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 90px;
      width: 140px;
      position: fixed;
      left: 70%;
      bottom: 190px;
      border-radius: 90px;
      border: 0;
      outline: none;
    }
    &__description {
      font-size: 30px;
      background-color: transparent;
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 140px;
      width: 70%;
      position: fixed;
      bottom: 1%;
      left: 1%;
      border: 0;
      outline: none;
    }

    &__btn-icon {
      background-image: url(mizutamari_hansya.png);
      background-size: 250px;
      height: 90px;
      width: 220px;
      position: fixed;
      right: 3%;
      bottom: 30px;
    }
    &__btn {
      background-color: transparent;
      height: 62px;
      width: 178px;
      position: fixed;
      right: 4%;
      bottom: 37px;
      border-radius: 30px;
      border: 0;
      outline: none;
    }
    ::placeholder{
      font-family: 'Kosugi Maru', sans-serif;
      text-align: center;
      font-size: 30px;
      color:#ccc;
    }
  }
  .sougen {
    &__ber {
      z-index: -5;
      background-image: url(bg_ground.png);
      background-size: 1700px;
      height: 250px;
      width: 1600px;
      position: fixed;
      bottom: 0;
      left: -25;
    }
  }
}

// 下記はshow(詳細ページ)の記述
.showBody {
  background-image: url(bg_heaven_tengoku.jpg);
  background-size: cover;
  font-family: 'Kosugi Maru', sans-serif;
  &__name {
    font-size: 4em;
    width: 600px;
    height: 50px;
    position: fixed;
    left: 50%;
    top: 40px;
    text-align: center;
    margin-left: -300px;
  }
  &__death {
    &__num {
      font-size: 1500%;
      height: 50%;
      width: 50%;
      position: fixed;
      left: 30%;
      top: 20%;
      text-align: center;
      margin-left: -25%;
    }
    &__unit {
      font-size: 1500%;
      height: 50%;
      width: 50%;
      position: fixed;
      right: 30%;
      top: 20%;
      text-align: center;
      margin-right: -30%;
    }
  }
  &__description {
    font-size: 20px;
    height: 220px;
    width: 98%;
    position: fixed;
    bottom: 5px;
    left: 10px;
    word-wrap: break-word;
    overflow: scroll;
  }
  &__manage {
    &__editIcon {
      background-image: url("kamisama.png");
      background-size: 200px;
      height: 230px;
      width: 200px;
      position: fixed;
      bottom: 220px;
      left: 10px;
    }
    &__edit {
      text-decoration: none;
      font-size: 30px;
      position: fixed;
      bottom: 233px;
      left: 40px;
    }
    &__deleteIcon {
      background-image: url("kirakira1.png");
      background-size: 200px;
      height: 60px;
      width: 70px;
      position: fixed;
      bottom: 300px;
      right: 30px;
    }
    &__delete {
      text-decoration: none;
      font-size: 20px;
      position: fixed;
      bottom: 310px;
      right: 42px;
    }
  }
}

// 下記はedit(編集ページ)の記述
.emojitachi {
  background-image: url(bg_yozora_night_sky.jpg);
  .edittorisetsu {
    width: 70px;
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 31px;
    text-decoration: none;
  }
  .reedit {
    position: fixed;
    top: 0;
    z-index: 3;
    text-decoration: none;
    height: 100vh;
    width: 100%;
  }
  .editsiro {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    z-index: 2;
    position: absolute;
    top: 0;
    background-color: white;
    height: 200vh;
    width: 100%;
    opacity: 0.65;
    .edit-bee {
      position: fixed;
      width: 25%;
      top: 30px;
      left: 60px;
    }
    .edit-tanpopo {
      position: fixed;
      width: 30%;
      top: 100px;
      right: 10px;
    }
    .edit-edit {
      font-size: 50px;
      position: fixed;
      width: 100%;
      text-align: center;
      bottom: 25%;
    }
    .edit-ok {
      position: fixed;
      bottom: 5%;
      right: 10%;
    }
  }
  .moji {
    &__tsu {
      position: fixed;
      top: 150px;
      left: 5%;
      background-image: url(hiragana_33_tsu.png);
      height: 100px;
      width: 100px;
    }
    &__ku {
      position: fixed;
      top: 60px;
      left: 17%;
      background-image: url(hiragana_13_ku.png);
      height: 100px;
      width: 100px;
    }
    &__ri {
      position: fixed;
      top: 120px;
      left: 31%;
      background-image: url(hiragana_70_ri.png);
      height: 100px;
      width: 100px;
    }
    &__na {
      position: fixed;
      top: 30px;
      left: 41%;
      background-image: url(hiragana_41_na.png);
      height: 100px;
      width: 100px;
    }
    &__o {
      position: fixed;
      top: 120px;
      right: 31%;
      background-image: url(hiragana_05_o.png);
      height: 100px;
      width: 100px;
    }
    &__so {
      position: fixed;
      top: 90px;
      right: 17%;
      background-image: url(hiragana_25_so.png);
      height: 100px;
      width: 100px;
    }
    &__u {
      position: fixed;
      top: 150px;
      right: 5%;
      background-image: url(hiragana_03_u.png);
      height: 100px;
      width: 100px;
    }
  }
  .eform {
    margin-top: 300px;
    &__name-icon {
      z-index: -3;
      background-image: url(nature_stone_ishi.png);
      background-size: 500px;
      height: 400px;
      width: 400px;
      position: fixed;
      bottom: 120px;
      left: 1px;
    }
    &__name {
      background-color: transparent;
      font-size: 40px;
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 140px;
      width: 220px;
      position: fixed;
      bottom: 200px;
      left: 140px;
      border-radius: 30px;
      border: 0;
      outline: none;
    }
    
    &__death-icon {
      z-index: -2;
      background-image: url(animal_tanuki.png);
      background-size: 350px;
      height: 300px;
      width: 350px;
      position: fixed;
      left: 37%;
      bottom: 150px;
    }
    &__death {
      background-color: transparent;
      font-size: 40px;
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 150px;
      width: 250px;
      position: fixed;
      left: 41%;
      bottom: 230px;
      border-radius: 90px;
      border: 0;
      outline: none;
    }
      
    &__unit-icon {
      z-index: -1;
      background-image: url(youkai_kappa.png);
      background-size: 250px;
      height: 340px;
      width: 240px;
      position: fixed;
      right: 13%;
      bottom: 150px;
    }
    &__unit {
      background-color: transparent;
      font-size: 40px;
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 130px;
      width: 90px;
      position: fixed;
      right: 17%;
      bottom: 190px;
      border-radius: 90px;
      border: 0;
      outline: none;
    }
    &__description {
      background-color: transparent;
      font-size: 20px;
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 140px;
      width: 70%;
      position: fixed;
      bottom: 1%;
      left: 1%;
      border: 0;
      outline: none;
    }

    &__btn-icon {
      background-image: url(hole_ana.png);
      background-size: 150px;
      height: 90px;
      width: 152px;
      position: fixed;
      right: 3%;
      bottom: 30px;
    }
    &__btn {
      background-color: transparent;
      color: white;
      text-shadow:1px 1px dodgerblue;
      font-weight: 1000;
      height: 62px;
      width: 140px;
      position: fixed;
      right: 4%;
      bottom: 37px;
      border-radius: 30px;
      border: 0;
      outline: none;
    }
    ::placeholder{
      font-family: 'Kosugi Maru', sans-serif;
      text-align: center;
      font-size: 30px;
      color:#ccc
    }
  }
  .sougen {
    &__ber {
      z-index: -5;
      background-image: url(bg_ground.png);
      background-size: 1700px;
      height: 250px;
      width: 1600px;
      position: fixed;
      bottom: 0;
      left: -25;
    }
  }
}

// 下記は致死量をフワッと表示の記述
.showBody__death__num {
  // アニメーション設定
  animation-name: fade-in1;
  animation-duration: 4s; //アニメーション時間
  animation-timing-function: ease-out; //アニメーションさせるイージング
  animation-delay: 0; //アニメーション開始させる時間
  animation-iteration-count: 1; //繰り返し回数
  animation-direction: normal; //往復処理をするかどうか
  animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
}
@keyframes fade-in1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.content{
  margin: 0 auto;
  padding: 40px;
  a {
    background-color: yellow;
  }
}
.modal{
  display: none;
  height: 120vh;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal__bg{
  background: rgba(255, 255, 255, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  &--newbee {
    font-size: 70px;
    color: black;
    
  }
}
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}